<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="..\Libs\NugetPackages" />
  </config>
  <packageSources>
    <add key="TeamCity" value="http://reginald.saenergy.local/httpAuth/app/nuget/v1/FeedService.svc" />
  </packageSources>
</configuration>
